*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.header1{
    background-color: gray;
    top:100%;
    right: 100%;
}
.container{
    top:100%;
    display: block;
    background-color: gray;
    left:100%;
    float: right;
}
nav{
    list-style-type: none;
    text-align: left;
}
nav li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
nav li a{
  padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
nav li a:hover{
   background-color: #333333;
   color: #ffffff;
}
/*.dropdown{
    list-style-type: none;
    text-align: left;
}
.dropdown-container{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
.dropdown-container a{
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}
.dropdown .dropdown-container a:hover{
    background-color: #333333;
   color: #ffffff;
}*/